@import url(../jspm_packages/github/twbs/bootstrap@3.3.1/css/bootstrap.css);
@import url(../jspm_packages/github/select2/select2@3.5.3/select2.css);
@import url(../css/admin.custom.css);
body.wr-admin {
  font-family: 'Segoe UI', Arial, 'Meiryo UI', Meiryo, 'MS PGothic', sans-serif;
  background-color: #FFFEFC;
  /***** bootstrap *****/
  /***** layout *****/
  /*** search ***/
  /***** button *****/
  /***** pagination *****/
  /***** table ******/
  /****search***/
  /***** list *****/
  /**** sortable *****/
  /*.sortable li button.remove {
        float: right;
    }*/
  /**** article-edit *****/
  /***** form ******/
  /***** describe *****/
  /***** dropdown *****/
  /***** other *****/
  /***** select2 ******/
  /***** redactor *****/ }
  body.wr-admin h1, body.wr-admin h2, body.wr-admin h3, body.wr-admin h4, body.wr-admin h5, body.wr-admin h6, body.wr-admin input, body.wr-admin pre {
    font-family: 'Segoe UI', Arial, 'Meiryo UI', Meiryo, 'MS PGothic', sans-serif;
    font-weight: normal; }
  body.wr-admin h1 {
    margin-top: 10px; }
  body.wr-admin h2 {
    font-size: 18px; }
  body.wr-admin h3 {
    font-size: 15px; }
  body.wr-admin hr {
    border-top: 1px solid #ccc; }
  body.wr-admin label {
    font-weight: normal; }
  body.wr-admin textarea,
  body.wr-admin input[type="text"],
  body.wr-admin input[type="password"],
  body.wr-admin input[type="datetime"],
  body.wr-admin input[type="datetime-local"],
  body.wr-admin input[type="date"],
  body.wr-admin input[type="month"],
  body.wr-admin input[type="time"],
  body.wr-admin input[type="week"],
  body.wr-admin input[type="number"],
  body.wr-admin input[type="email"],
  body.wr-admin input[type="url"],
  body.wr-admin input[type="search"],
  body.wr-admin input[type="tel"],
  body.wr-admin input[type="color"],
  body.wr-admin .uneditable-input {
    font-family: 'Segoe UI', Arial, 'Meiryo UI', Meiryo, 'MS PGothic', sans-serif;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    transition: none; }
  body.wr-admin a {
    color: #819FAA;
    text-decoration: none; }
  body.wr-admin a:hover {
    color: #78BFD8;
    text-decoration: none; }
  body.wr-admin pre {
    border: transparent;
    background-color: transparent; }
  body.wr-admin .container {
    width: 100%; }
  body.wr-admin .container-fluid {
    padding-left: 30px;
    padding-right: 30px; }
  body.wr-admin .modal {
    z-index: 1060; }
  body.wr-admin #header {
    margin-bottom: 0; }
  body.wr-admin #header .navbar-brand {
    color: #574E4E;
    margin-bottom: 0;
    padding: 6px 30px;
    width: 90px;
    height: 40px; }
  body.wr-admin #header .navbar {
    border: none; }
  body.wr-admin #wr-global-nav {
    border-color: #fff;
    border-bottom: 1px solid #E4E4E4; }
  body.wr-admin #wr-global-nav .navbar-nav > li > a:hover,
  body.wr-admin #wr-global-nav .navbar-nav > li > a:focus {
    background-color: transparent; }
  body.wr-admin #wr-global-nav .navbar-nav > li > a {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 40px; }
  body.wr-admin #wr-global-nav .nav > li:first-child {
    line-height: 40px;
    padding-left: 0; }
  body.wr-admin #wr-global-nav .nav > li.wr-account img.wr-account-picture {
    margin-top: -5px;
    border-radius: 50%; }
  body.wr-admin #wr-global-nav a, body.wr-admin #wr-blog-nav a {
    color: #726868; }
  body.wr-admin #wr-global-nav a:hover, body.wr-admin #wr-blog-nav a:hover {
    color: #819FAA; }
  body.wr-admin #header .navbar-toggle {
    background-color: #fff;
    border: transparent; }
  body.wr-admin #header .navbar-toggle:hover, body.wr-admin .navbar-inverse .navbar-toggle:focus {
    background-color: #fff; }
  body.wr-admin #header .navbar-toggle .icon-bar {
    background: #8a8888; }
  @media (min-width: 768px) {
    body.wr-admin #header .navbar-collapse .navbar-nav.navbar-left:first-child {
      margin-left: 0; }
    body.wr-admin #wr-blog-nav .navbar-nav > li:first-child {
      padding-left: 0; }
    body.wr-admin #wr-blog-nav .navbar-nav > li > a {
      padding: 11px 16px; } }
  body.wr-admin #wr-global-nav .navbar-collapse, body.wr-admin #header.wr-navbar-global .navbar-form {
    border-color: #C5C5C5; }
  body.wr-admin #wr-global-nav #wr-blog-title a {
    font-size: 17px; }
  body.wr-admin #wr-blog-nav {
    background-color: #FFFEFC;
    border-color: #fff;
    border-bottom: 1px solid #ccc; }
  body.wr-admin #wr-blog-nav .navbar-nav > li > a:hover {
    background-color: transparent; }
  body.wr-admin #wr-page-header .page-header {
    margin: 15px 0px 5px;
    padding-bottom: 10px;
    line-height: 34px; }
  body.wr-admin #wr-page-header h1 {
    font-size: 22px;
    margin-top: 5px; }
  body.wr-admin #wr-page-header .back {
    margin-right: 15px; }
  body.wr-admin .disabled > a,
  body.wr-admin .disabled > a:hover,
  body.wr-admin .disabled > a:focus,
  body.wr-admin .disabled > span {
    color: #C5C5C5;
    cursor: not-allowed;
    background-color: transparent; }
  @media (max-width: 768px) {
    body.wr-admin {
      /*#wr-blog-nav {*/
      /*display: none;*/
      /*}*/ }
      body.wr-admin #wr-page-content {
        margin-left: 0; } }
  @media (min-width: 767px) {
    body.wr-admin header .collapse {
      display: block;
      visibility: visible; } }
  body.wr-admin #wr-page-content .search-condition {
    position: relative;
    margin-bottom: 15px; }
  body.wr-admin #wr-page-content .search-condition .form-actions {
    margin: 0;
    padding: 0 0 0 160px;
    border: none; }
  body.wr-admin #wr-page-content .search-condition .keyword-search {
    width: 250px; }
  body.wr-admin #wr-page-content .search-condition .status-condition {
    margin-left: 15px; }
  body.wr-admin #wr-page-content .search-result .search-result-header {
    margin-bottom: 15px; }
  body.wr-admin #wr-page-content .search-result .search-result-header .pagination-summary {
    padding: 7px 12px; }
  body.wr-admin #wr-page-content .search-result .search-result-header .pagination {
    margin-right: 5px;
    display: inline; }
  body.wr-admin #wr-page-content .search-result .condition-group {
    padding: 9px 9px 9px 0; }
  body.wr-admin #wr-page-content .wr-tool-panel dl.wr-tags dd {
    margin-left: 5px; }
  body.wr-admin .btn-primary {
    background-color: #E25656;
    border-color: #DDDDDD; }
  body.wr-admin .btn-primary:hover, body.wr-admin .btn-primary:focus {
    background-color: #FF7373;
    border-color: #DDDDDD; }
  body.wr-admin .btn-info {
    background-color: #71BAD5;
    border-color: #F0FBFF; }
  body.wr-admin .btn-info:hover, body.wr-admin .btn-info:focus, body.wr-admin .open .dropdown-toggle.btn-info {
    background-color: #29ACDA;
    border-color: #F0FBFF; }
  body.wr-admin .btn-group.open .dropdown-toggle {
    box-shadow: none;
    -webkit-box-shadow: none; }
  body.wr-admin .btn-primary[disabled] {
    background-color: grey;
    border-color: #D6D6D6; }
  body.wr-admin .btn-link {
    color: #819FAA;
    text-decoration: none; }
  body.wr-admin .btn-link:hover {
    color: #78BFD8;
    text-decoration: none; }
  body.wr-admin .btn-default {
    color: #7A7A7A;
    border-color: #DFDFDF; }
  body.wr-admin .btn-default:hover, body.wr-admin .btn-default:focus, body.wr-admin .btn-default:active, body.wr-admin .btn-default.active, body.wr-admin .open .dropdown-toggle.btn-default {
    color: #696868;
    border-color: #DDDDDD; }
  body.wr-admin .open .dropdown-toggle.btn-primary {
    background-color: #FF7373;
    border-color: #DDDDDD; }
  body.wr-admin #wr-blog-menu .dropdown-menu {
    background-color: #FFFEFC; }
  body.wr-admin .dropdown-menu > .active > a, body.wr-admin .dropdown-menu > .active > a:hover, body.wr-admin .dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #d9534f;
    outline: 0; }
  @media (max-width: 767px) {
    body.wr-admin #wr-blog-nav .navbar-nav .open .dropdown-menu {
      background-color: #f7f7f7; } }
  body.wr-admin .pagination > .active > a,
  body.wr-admin .pagination > .active > span,
  body.wr-admin .pagination > .active > a:hover,
  body.wr-admin .pagination > .active > span:hover,
  body.wr-admin .pagination > .active > a:focus,
  body.wr-admin .pagination > .active > span:focus {
    color: #fff;
    background-color: #B6B6B6;
    border-color: #B6B6B6; }
  body.wr-admin .pagination > li > a, body.wr-admin .pagination > li > span {
    position: relative;
    float: left;
    padding: 7px 12px;
    margin-left: -1px;
    line-height: 1.428571429;
    text-decoration: none;
    background-color: transparent;
    border: none; }
  body.wr-admin #wr-global-nav .dropdown-menu > li > a:hover,
  body.wr-admin #wr-blog-nav .dropdown-menu > li > a:hover,
  body.wr-admin .dropdown-menu > li > a:hover,
  body.wr-admin .dropdown-menu > li > a:focus {
    background-color: #ADADAD;
    color: #ffffff; }
  body.wr-admin .table > thead > tr > th {
    border-bottom: 1px solid #ddd; }
  body.wr-admin .table > thead > tr > th,
  body.wr-admin .table > tbody > tr > th,
  body.wr-admin .table > tfoot > tr > th,
  body.wr-admin .table > thead > tr > td,
  body.wr-admin .table > tbody > tr > td,
  body.wr-admin .table > tfoot > tr > td {
    padding-left: 4px; }
  body.wr-admin .search-condition .checkbox-inline {
    margin-top: 7px; }
  body.wr-admin .search-condition .label {
    font-size: 85%; }
  body.wr-admin .form-group .list-inline > li.disabled > a {
    color: #ccc; }
  body.wr-admin ul.nested-sortable .placeholder {
    outline: 1px dashed #bbb; }
  body.wr-admin ul.nested-sortable, body.wr-admin ul.sortable, body.wr-admin ul.nested-sortable ul {
    margin: 0 0 0 50px;
    padding: 0;
    list-style-type: none; }
  body.wr-admin ul.nested-sortable, body.wr-admin ul.sortable {
    margin: 1em 0; }
  body.wr-admin .nested-sortable li {
    margin: 10px 0 0 0;
    padding: 0; }
  body.wr-admin .nested-sortable li div.category {
    border: 1px solid #d4d4d4;
    padding: 0;
    margin: 0;
    cursor: move;
    background: #ffffff; }
  body.wr-admin .nested-sortable li div.category.off, body.wr-admin .nested-sortable li div.banner.off {
    background: #F5F5F5; }
  body.wr-admin .nested-sortable li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering div {
    border-color: #999;
    background: #fafafa; }
  body.wr-admin .nested-sortable .wr-tree-options .disclose {
    cursor: pointer;
    display: none; }
  body.wr-admin .nested-sortable li.mjs-nestedSortable-branch > div .wr-tree-option,
  body.wr-admin .nested-sortable li.mjs-nestedSortable-leaf > div .wr-tree-option {
    display: inline-block; }
  body.wr-admin .nested-sortable li.mjs-nestedSortable-leaf .disclose {
    visibility: hidden; }
  body.wr-admin .nested-sortable li.mjs-nestedSortable-collapsed > ul {
    display: none; }
  body.wr-admin .nested-sortable li.mjs-nestedSortable-branch.mjs-nestedSortable-collapsed > div .disclose > span:before {
    color: #819FAA;
    content: ' \2b ';
    /*content: ' \e080 ';*/ }
  body.wr-admin .nested-sortable li.mjs-nestedSortable-branch.mjs-nestedSortable-expanded > div .disclose > span:before {
    color: #819FAA;
    content: ' \2212 '; }
  body.wr-admin .field-option-group ul.sortable {
    margin: 0; }
  body.wr-admin .field-option-group ul li.option {
    border-bottom: 1px solid #d2d2d2;
    margin-top: 10px; }
  body.wr-admin .field-option-group .field-option {
    display: inline-block; }
  body.wr-admin .field-option-group .field-option > .remove {
    padding-top: 1px; }
  body.wr-admin .grippy {
    content: '....';
    width: 20px;
    height: 20px;
    display: inline-block;
    overflow: hidden;
    line-height: 5px;
    padding: 3px 4px;
    cursor: move;
    vertical-align: middle;
    margin-top: -.7em;
    margin-right: .3em;
    font-size: 12px;
    font-family: sans-serif;
    letter-spacing: 2px;
    color: #c4c4c4;
    text-shadow: 1px 0 1px black; }
  body.wr-admin .grippy::after {
    content: '.. .. .. ..'; }
  body.wr-admin #category-fieldset ul ul {
    padding-left: 20px; }
  @media (min-width: 768px) {
    body.wr-admin #category-fieldset .category-list {
      height: 350px;
      width: 200px;
      overflow: auto; } }
  @media (min-width: 1260px) {
    body.wr-admin #category-fieldset .category-list {
      height: 350px;
      width: 240px;
      overflow: auto; } }
  @media (min-width: 1650px) {
    body.wr-admin #category-fieldset .category-list {
      height: 350px;
      width: 350px;
      overflow: auto; } }
  body.wr-admin legend {
    font-size: 16px;
    line-height: 32px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 7px; }
  body.wr-admin .form-horizontal .control-label {
    text-align: left; }
  body.wr-admin .article-panel legend {
    font-size: 14px; }
  body.wr-admin .article-panel h1,
  body.wr-admin .article-panel h2 {
    font-size: 14px;
    margin-top: 15px;
    color: #815453; }
  body.wr-admin .article-panel .panel {
    background: transparent; }
  body.wr-admin .form-group-sm {
    margin-bottom: 3px; }
  body.wr-admin .panel.category li.checkbox:first-child {
    margin-top: 0; }
  body.wr-admin .label-default {
    background-color: #F5F2F2;
    border: 1px solid #b3b3b3;
    color: #525252; }
  body.wr-admin .label-publish {
    background-color: #E47875; }
  body.wr-admin .label-draft {
    background-color: #A39B9B; }
  body.wr-admin .checked {
    color: #E77059; }
  body.wr-admin #wr-page-content .describe .breadcrumb {
    margin-left: 15px;
    margin-right: 15px; }
  body.wr-admin #wr-page-content .describe .page-header:first-child h1 {
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold; }
  body.wr-admin #wr-page-content .describe .action-nav {
    margin-bottom: 15px;
    margin-right: 0px;
    margin-left: 0px; }
  body.wr-admin #wr-page-content .describe .pull-left .btn-group > .btn.status {
    margin-left: -10px; }
  body.wr-admin #wr-page-content .describe .pull-right.move {
    padding: 10px 0 5px;
    margin-right: 15px; }
  body.wr-admin #wr-page-content pre {
    padding: 0;
    font-size: 120%; }
  body.wr-admin #wr-page-content .list-inline.list-inline-tag > li {
    padding-left: 0;
    margin-bottom: 3px; }
  body.wr-admin .dropdown-submenu {
    position: relative; }
  body.wr-admin .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px; }
  body.wr-admin .dropdown-submenu:hover > .dropdown-menu {
    display: block; }
  body.wr-admin .dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px; }
  body.wr-admin .dropdown-submenu:hover > a:after {
    border-left-color: #ffffff; }
  body.wr-admin .dropdown-submenu.pull-left {
    float: none; }
  body.wr-admin .dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px; }
  body.wr-admin .nav-tabs {
    margin-bottom: 2em; }
  body.wr-admin .nav-tabs > li.active > a, body.wr-admin .nav-tabs > li.active > a:hover, body.wr-admin .nav-tabs > li.active > a:focus {
    background-color: #F3F3F3; }
  body.wr-admin .select2-container .select2-choice {
    height: 34px;
    background-image: none;
    line-height: 32px;
    border: 1px solid #ccc; }
  body.wr-admin .select2-container-active .select2-choice,
  body.wr-admin .select2-container-active .select2-choices {
    border: 1px solid #5897fb; }
  body.wr-admin .select2-container .select2-choice .select2-arrow {
    border-left: 1px solid #ccc; }
  body.wr-admin .select2-dropdown-open .select2-choice .select2-arrow {
    border-left: none; }
  body.wr-admin .select2-container-multi .select2-choices .select2-search-choice {
    margin: 3px 5px; }
  body.wr-admin .select2-container .select2-choice .select2-arrow {
    background-image: none;
    background: #eee; }
  body.wr-admin .select2-container-multi .select2-choices {
    background-image: none;
    border: 1px solid #CCC; }
  body.wr-admin .select2-container-multi .select2-choices .select2-search-choice {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #F5F5F5;
    background-image: none; }
  body.wr-admin .search-condition .navbar-form {
    margin-top: 0;
    padding: 0; }
  body.wr-admin .search-condition .navbar-form > .select2:first-child {
    margin-left: -8px; }
  body.wr-admin .search-condition .select2-container .select2-choice {
    border: 1px solid transparent;
    background-color: transparent; }
  body.wr-admin .search-condition .select2-container .select2-choice:hover {
    border: 1px solid #ccc; }
  body.wr-admin .search-condition .select2-container .select2-choice .select2-arrow {
    border: none;
    background-color: transparent; }
  body.wr-admin .search-condition .select2-container .select2-choice .select2-arrow b {
    background-position: 0 3px; }
  body.wr-admin .search-condition .select2-container-active .select2-choice {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  body.wr-admin .search-condition .select2-dropdown-open .select2-choice {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid #ccc;
    background-color: #eee; }
  body.wr-admin .select2-drop-search-form {
    border: 1px solid #ccc;
    border-radius: 0;
    padding: 5px; }
  body.wr-admin .well {
    background-color: #FFFEFD; }
  body.wr-admin .redactor_editor,
  body.wr-admin .redactor_editor:focus,
  body.wr-admin .redactor_editor div,
  body.wr-admin .redactor_editor p,
  body.wr-admin .redactor_editor ul,
  body.wr-admin .redactor_editor ol,
  body.wr-admin .redactor_editor table,
  body.wr-admin .redactor_editor dl,
  body.wr-admin .redactor_editor blockquote,
  body.wr-admin .redactor_editor pre,
  body.wr-admin .redactor_editor h1,
  body.wr-admin .redactor_editor h2,
  body.wr-admin .redactor_editor h3,
  body.wr-admin .redactor_editor h4,
  body.wr-admin .redactor_editor h5,
  body.wr-admin .redactor_editor h6 {
    font-family: Meiryo UI, Arial, Helvetica, Verdana, Tahoma, sans-serif !important; }
  body.wr-admin .has-error .redactor_box {
    border-color: #b94a48; }
  body.wr-admin *[data-href] {
    cursor: pointer; }
  body.wr-admin .wr-post-cover {
    width: 100%; }
  body.wr-admin .wr-post-cover-dropzone {
    position: relative;
    min-height: 100px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    padding: 0; }
  body.wr-admin .wr-post-cover-dropzone .placeholder {
    position: absolute;
    top: 5px;
    left: 5px;
    text-align: center; }
  body.wr-admin .wr-post-cover-dropzone .dragover {
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: 3px;
    right: 3px;
    border: 5px dashed #ccc; }
  body.wr-admin .wr-post-cover-dropzone .dragover .help-block {
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #ccc; }
  body.wr-admin .wr-post-cover-dropzone .progress {
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    margin-bottom: 0; }
  body.wr-admin .wr-post-cover-dropzone .wrap-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    vertical-align: middle; }
  body.wr-admin .wr-post-cover-dropzone:hover .wrap-hover {
    cursor: pointer;
    display: inline-block !important;
    color: #ccc; }
  body.wr-admin .wr-post-cover-dropzone:hover .wrap-hover.has {
    background-color: #000;
    opacity: 0.4; }
  body.wr-admin .wr-post-cover-dropzone .message {
    top: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px; }
  body.wr-admin .wr-post-cover-dropzone .wrap-hover .message .help-block {
    color: #ccc;
    opacity: 1;
    z-index: 200; }
  body.wr-admin .wr-post-cover-dropzone .wrap-hover.has .message .help-block {
    color: #ffffff;
    opacity: 1;
    z-index: 200; }
  body.wr-admin .wr-post-cover-dropzone .remove {
    position: absolute;
    top: 15px;
    right: 5px;
    font-size: 15px; }
  body.wr-admin .wr-post-cover-dropzone .remove a {
    padding: 15px; }
  body.wr-admin .form-control.wr-code {
    width: 50%;
    display: inline; }
  body.wr-admin .wr-tree-options .disclose {
    padding: 10px; }
  body.wr-admin .wr-tree-options .title {
    font-weight: bold;
    padding-right: 15px; }
  body.wr-admin .wr-tree-options a,
  body.wr-admin .wr-tree-options button {
    padding: 10px 5px; }
  body.wr-admin .wr-tree-options button .glyphicon-remove {
    width: 25px; }
  body.wr-admin #wr-page-content .wr-describe-main h1 {
    line-height: 1.5em;
    font-size: 28px;
    font-weight: bold; }
  body.wr-admin #wr-page-header .status {
    font-size: 15px;
    color: #5A5A5A;
    font-weight: bold;
    line-height: 34px; }
  body.wr-admin #wr-page-header .small {
    font-size: 75%;
    font-weight: bold;
    line-height: 0.5; }
  body.wr-admin .wr-tool-panel .wr-tool-check {
    line-height: 34px;
    padding: 0 3px; }
  body.wr-admin .wr-tool-panel dl {
    margin: 0 0 1em; }
  body.wr-admin .wr-tool-panel dl dt {
    font-weight: 500;
    font-size: 14.5px;
    line-height: 32px;
    border-top: 1px solid #ccc;
    margin-bottom: 7px; }
  body.wr-admin .wr-tool-panel dl:first-child > dt {
    border-top: none; }
  body.wr-admin .wr-tool-panel dl dd dl dt {
    border-top: 1px dashed #ccc; }
  body.wr-admin .wr-tool-panel dl dd {
    font-size: 14px; }
  body.wr-admin .wr-tool-panel .publish-date {
    font-size: 15px; }
  body.wr-admin .wr-post-body img {
    max-width: 100%; }
  body.wr-admin .wr-post-author {
    text-align: center; }
  body.wr-admin .wr-post-author .wr-post-author-thumbnail {
    width: 80px;
    height: 80px; }
  body.wr-admin .wr-post-author .wr-post-author-thumbnail img {
    width: 100%;
    border: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%; }
  body.wr-admin .wr-post-author .wr-post-author-info {
    text-align: left; }
  body.wr-admin .wr-post-author .wr-post-author-info a {
    /*font-weight: 700;*/
    font-size: 16px; }
  body.wr-admin .wr-dashboard dl dt {
    font-size: 15px; }
  body.wr-admin .wr-dashboard table tr th {
    font-size: 15px;
    text-align: right; }
  body.wr-admin .wr-dashboard table tr th, body.wr-admin .wr-dashboard table tr td {
    border-top: transparent; }
  body.wr-admin .wr-post-status-PUBLISHED {
    color: #016B66; }
  body.wr-admin .wr-post-status-DRAFT {
    color: #cd5c5c; }
  body.wr-admin .wr-post-status-SCHEDULED {
    color: #ffc31e; }
  body.wr-admin .fr-toolbar {
    border-top: 1px solid #ccc; }
  body.wr-admin .fr-toolbar .fr-command.fr-btn i, body.wr-admin .fr-popup .fr-command.fr-btn i {
    font-size: 12px;
    width: 12px;
    margin: 8px 8.5px; }
  body.wr-admin img.fr-dii.fr-fil {
    margin: 5px 0 5px 10px;
    right: 5px;
    float: left; }
  body.wr-admin img.fr-dii.fr-fir {
    margin: 5px 0 5px 10px;
    right: 5px;
    float: right; }
  body.wr-admin img.fr-dii {
    display: inline-block; }
